<!doctype html>
<html lang="en">
{![head]}

<body>
    <_container>
        <h1>Hello, World!</h1>
        If you can see this you have successfully set up a sample WebFramework Application.
        To get started, refer to the README in the WebFramework repository.
        <br>
        <_three_card_row content1="{[get_test1]}" content2="{[get_test2]}" content3="Card Row Argument 3">
        </_three_card_row>
        <img src="/img/example_2000_400.png" alt="Example Image" style="width: 100%; ">
    </_container>
    {![js_deps]}
</body>

</html>