<div class="row">
    <div class="col-sm-12 col-lg-4">
        <div class="card">
            <div class="card-body">
                {[content1]}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="card">
            <div class="card-body">
                {[content2]}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="card">
            <div class="card-body">
                {[content3]}
            </div>
        </div>
    </div>
</div>